/* Login.css */
.main {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  .fullscreen-video {
    position: absolute;
  }
  

  .ph img{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    
  }
  
 
  
  .login-page1 {
    border: 0.5vh solid rgb(3, 8, 14);
    width: 25vw; /* Increase the width as needed */
    height: 45vh; /* Increase the height as needed */
    padding: 20px;
    border-radius: 50px;
    background-color: transparent;
    margin-left: 60vw;
    margin-top: 10vh;
  }

  .login-page input {
    width: calc(100% - 20px); /* Reduce the width by 20px for padding */
    height: 30px; /* Adjust the height as needed */
    padding: 10px;
    margin-bottom: 6px;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;

  }
  .login-page input:focus {
    border-color:#616f79;
  }
   input[type="password"]::placeholder {
    color: black;
  }

  input[type="email"]::placeholder {
    color: black;
  }
  /* Additional styles for the button and link */
  .login-page button {
    border-radius: 40px;
    color: black;
    border-color: transparent;
    height: 4vh;
    width: 25vh;
    background-color:rgb(151, 152, 153) ;
    cursor: pointer;
  }
  
  .login-page a {
    text-decoration: none;
    color: "bluishviolet";
  }
  input[type="text"]::placeholder {
    color: black;
  }
  input[type="number"]::placeholder {
    color: black;
  }