/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
/* Login.css */
.main {
  display: flex;
  justify-content: center;
  text-align: center;
}

.fullscreen-video {
  position: absolute;
}


.ph img{
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  object-fit: cover;
}



.login-page2 {
  border: 0.5vh solid rgb(3, 8, 14);
  width: 20vw; /* Increase the width as needed */
  height: 30vh; /* Increase the height as needed */
  padding: 20px;
  border-radius: 50px;
  background-color: transparent;
  margin-left: 60vw;
  margin-top: 10vh;
}

.login-page input1 {
  width: calc(100% - 20px); /* Reduce the width by 20px for padding */
  height: 30px; /* Adjust the height as needed */
  padding: 10px;
  margin-bottom: 6px;
  border: 1px solid black;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;

}
.login-page input:focus {
  border-color:#616f79;
}
 input[type="text"]::placeholder {
  color: black;
}

input[type="password"]::placeholder {
  color: black;
}
/* Additional styles for the button and link */
.login-page button {
  border-radius: 40px;
  color: black;
  border-color: transparent;
  height: 4vh;
  width: 25vh;
  background-color:rgb(151, 152, 153) ;
  cursor: pointer;
}

.login-page c {
  text-decoration: none;
  color: "bluishviolet";
}
input[type="text"]::placeholder {
  color: black;
}
input[type="number"]::placeholder {
  color: black;
}

.login-page3{
  border: 0.5vh solid rgb(3, 8, 14);
  width: 30vw; /* Increase the width as needed */
  height: 90vh; /* Increase the height as needed */
  padding: 20px;
  border-radius: 50px;
  background-color: transparent;
  margin-left: 35vw;
  margin-top: 5vh;
}

.error-message {
  color: #ff3333;
  margin-top: 10px;
  white-space: nowrap; /* Added line */
  overflow: hidden; /* Added line */
  text-overflow: ellipsis; /* Optional line */
}


